.bike{
    height: 600px;
    background: dimgray;
    background-image: url("../imagens/bicicleta.jpg");
    background-size: cover;
    background-position: center top ;
    /* background: dimgray url("../imagens/bicicleta.jpg") no-repeat cover center top ; */
    display: flex;
}

h1{
    margin: auto;
    background: white;
    padding: 1rem 2rem;
}

.pattern{
    height: 600px;
    background: chocolate;
    background-image: url("../imagens/pattern.svg");
    /* background-repeat: no-repeat; */
    background-size: 200px;

}